.login {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border-radius: 5%;
    border: 2px solid red;
    text-align: center;

    & input {
        margin: 5% 0;
    }

    h1 {
        color: red;
    }

}

.loginTitle {
    text-align: center;
    margin-top: 5%;
    color: red;
    stroke: whitesmoke;
}